
body { 
    font-family: Arial; 
    background-color: #f4f4f4; 
}
.container {
    width: 350px; 
    margin: 100px auto; 
    padding: 20px; 
    background: white; 
    border-radius: 8px; 
    box-shadow: 0px 0px 10px #ccc;
}
input {
    width: 100%;
    padding: 10px; 
    margin-top: 10px;
}
input.primary {
    background-color: #007bff; 
    border: none; 
    color: white; 
    cursor: pointer;
}
button {
    background-color: #007bff; 
    border: none; 
    color: white; 
    cursor: pointer;
}